[Unit]
Description=Zookeeper distributed coordination server
After=network.target

[Service]
ExecStart=/usr/bin/zkServer start-foreground

[Install]
WantedBy=multi-user.target
